.icon-button {
    background: transparent;
    border: none;

    transition: 0.25s;
    cursor: pointer;

    &:hover {

        svg {
            color: #0095E0;
        }
    }

    &:active {
        scale: 0.9;
    }
}